<style type="text/css">
.col-xs-6 block{
    text-align: center;
}

</style>

<div id="page-wrapper" class="page-loading">
    <!-- Preloader -->
    <!-- Preloader functionality (initialized in js/app.js) - pageLoading() -->
    <!-- Used only if page preloader enabled from inc/config (PHP version) or the class 'page-loading' is added in body element (HTML version) -->
    <div class="preloader">
        <div class="inner">
            <!-- Animation spinner for all modern browsers -->
            <div class="preloader-spinner themed-background hidden-lt-ie10"></div>

            <!-- Text for IE9 -->
            <h3 class="text-primary visible-lt-ie10"><strong>Loading..</strong></h3>
        </div>
    </div>

    <div id="page-container" class="header-fixed-top sidebar-visible-lg-full">
        <!-- Alternative Sidebar -->
        <div id="sidebar-alt" tabindex="-1" aria-hidden="true">
            <!-- Toggle Alternative Sidebar Button (visible only in static layout) -->
            <a href="javascript:void(0)" id="sidebar-alt-close" onclick="App.sidebar('toggle-sidebar-alt');"><i class="fa fa-times"></i></a>

            <!-- Wrapper for scrolling functionality -->
            <div id="sidebar-scroll-alt">
                <!-- Sidebar Content -->
                <div class="sidebar-content">
                 

                    <!-- Profile -->
                    <div class="sidebar-section">
                        <h2 class="text-light">Profile</h2>
                        <form action="/update" method="post" class="form-control-borderless" onsubmit="return false;">
                            <div class="form-group">
                                <label for="side-profile-name">Company Name</label>
                                <input type="text" name="company" class="form-control" value="<%=Parse.User.current().get("company")%>">
                            </div>
                            <div class="form-group">
                                <label for="side-profile-email">Email</label>
                                <input type="email" name="email" class="form-control" value="<%=Parse.User.current().get("email")%>">
                            </div>
                            <div class="form-group">
                                <label for="side-profile-password">Website URL</label>
                                <input type="text" name="website" class="form-control" value="<%=Parse.User.current().get("website")%>">
                            </div>
                            <div class="form-group">
                                <label for="side-profile-password-confirm">Social Media Site</label>
                                <input type="text" name="social" class="form-control" value="<%=Parse.User.current().get("social")%>">
                            </div>
                            <div class="form-group">
                                <label for="side-profile-password-confirm">Description</label>
                                <input type="text"  name="desc" class="form-control" value="<%=Parse.User.current().get("desc")%>">
                            </div>
                            <div class="form-group remove-margin">
                                <button type="submit" class="btn btn-effect-ripple btn-primary" onclick="App.sidebar('close-sidebar-alt');">Save</button>
                            </div>
                        </form>
                    </div>
                    <!-- END Profile -->


                </div>
                <!-- END Sidebar Content -->
            </div>
            <!-- END Wrapper for scrolling functionality -->
        </div>
        <!-- END Alternative Sidebar -->

        <!-- Main Sidebar -->
        <div id="sidebar">
            <!-- Sidebar Brand -->
            <div id="sidebar-brand" class="themed-background">
                <a href="/merchant" class="sidebar-title">
                    <i class=""></i> <span class="sidebar-nav-mini-hide">The<strong>Foodie Market</strong></span>
                </a>
            </div>
            <!-- END Sidebar Brand -->

            <!-- Wrapper for scrolling functionality -->
            <div id="sidebar-scroll">
                <!-- Sidebar Content -->
                <div class="sidebar-content">
                    <!-- Sidebar Navigation -->
                    <ul class="sidebar-nav">
                        <li class="" style="text-align:center;">
                            <strong>MERCHANT</strong>
                        </li>

                        <li class="sidebar-separator">
                            <i class="fa fa-ellipsis-h"></i>
                        </li>
                        <li>
                            <a href="/merchant-upload"><i class="fa fa-cloud-upload sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Upload</span></a>
                        </li>
                        <li>
                            <a href="#" class="sidebar-nav-menu"><i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="fa fa-pie-chart sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Reports</span></a>
                            <ul>
                                <li>
                                    <a href="">Customer</a>
                                </li>
                                <li>
                                    <a href="">Merchant</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="sidebar-nav-menu">
                                <i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
                                <i class="fa fa-paypal sidebar-nav-icon"></i>
                                <span class="sidebar-nav-mini-hide">Payment</span>
                            </a>
                            <ul>
                                <li>
                                    <a href="/merchant-transaction">Unpaid Ads</a>
                                </li>
                                <li>
                                    <a href="">History Payments</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/merchant-inbox">
                                <i class="fa fa-inbox sidebar-nav-icon"></i>
                                <span class="sidebar-nav-mini-hide">Inbox</span>
                            </a>
                        </li>
                        <li>
                            <a href="#modal-compose" data-toggle="modal" style="overflow: hidden; position: relative;">
                                <i class="fa fa-pencil sidebar-nav-icon"></i>
                                <span class="sidebar-nav-mini-hide">Feedback</span>
                            </a>
                        </li>
                    </ul>
                    <!-- END Sidebar Navigation -->
                </div>
                <!-- END Sidebar Content -->
            </div>
            <!-- END Wrapper for scrolling functionality -->

            <!-- Sidebar Extra Info -->
            <div id="sidebar-extra-info" class="sidebar-content sidebar-nav-mini-hide">
                <div class="text-center">
                    <small>Crafted with <i class="fa fa-heart text-danger"></i> by AT+CO.JR. </small>
                </div>
            </div>
            <!-- END Sidebar Extra Info -->
        </div>
        <!-- END Main Sidebar -->

        <!-- Main Container -->
        <div id="main-container">


            <header class="navbar navbar-inverse navbar-fixed-top">
                <!-- Left Header Navigation -->
                <ul class="nav navbar-nav-custom">
                    <!-- Main Sidebar Toggle Button -->
                    <li>
                        <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar');">
                            <i class="fa fa-ellipsis-v fa-fw animation-fadeInRight" id="sidebar-toggle-mini" style="margin-bottom: 13px; margin-top: 13px;"></i>
                            <i class="fa fa-bars fa-fw animation-fadeInRight" id="sidebar-toggle-full" style="margin-bottom: 13px; margin-top: 13px;"></i>
                        </a>
                    </li>
                    <!-- END Main Sidebar Toggle Button -->

                    <!-- Header Link -->
                    <li class="hidden-xs animation-fadeInQuick">
                        <a><strong>Upload your ads with us!</strong></a>
                    </li>
                    <!-- END Header Link -->
                </ul>
                <!-- END Left Header Navigation -->

                <!-- Right Header Navigation -->
                <ul class="nav navbar-nav-custom pull-right">
                    
                    <!-- Alternative Sidebar Toggle Button -->
                    <li>
                        <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar-alt');">
                            <i class="fa fa-user" style="margin-bottom: 13px; margin-top: 13px;"></i>
                        </a>
                    </li>
                    <!-- END Alternative Sidebar Toggle Button -->

                    <!-- User Dropdown -->
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-sign-in" style="margin-bottom: 13px; margin-top: 13px;"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="dropdown-header">
                                <strong>MERCHANT</strong>
                            </li>
                            <li>
                                <a href="/">
                                    <i class="fa fa-sign-out fa fa-inbox fa-fw pull-right"></i>
                                    Logout
                                </a>
                            </li>
                            
                            
                        </ul>
                    </li>
                    <!-- END User Dropdown -->
                </ul>
                <!-- END Right Header Navigation -->
            </header>
            <!-- END Header -->

            <!-- Page content -->

            <div id="page-content" style="min-height: 612px;">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="block col-sm-8">
                        
                        <!-- Upload Form -->
                        <form id="upload" action="/merchant:upload" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered" >

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="example-email">Title</label>
                                <div class="col-md-6">
                                    <input type="text" id="example-email" name="title" class="form-control" placeholder=" Title of this amazing deal" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="example-textarea-input">Description</label>
                                <div class="col-md-9">
                                    <textarea id="example-textarea-input" name="desc" rows="7" class="form-control" placeholder="Tell us more about it" required>
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="example-textarea-input">Location Address</label>
                                <div class="col-md-9">
                                    <input type="text" name="location" class="form-control" placeholder=" Address or URL for your location" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="example-select">Category</label>
                                <div class="col-md-5">
                                    <select id="example-select" name="category" class="form-control" size="1" required>
                                        <option value="">Choose a Category</option>
                                        <option value="cafe">Cafe</option>
                                        <option value="bars">Bars</option>
                                        <option value="dining">Dining</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="example-datepicker">Posting Duration</label>
                                <div class="col-md-9">
                                  <input type="number" name="expiry" class="form-control" placeholder="Tell us your posting period (at least 7 days)" required>
                              </div>
                          </div>
                          <div class="form-group form-actions">
                            <div class="col-md-9 col-md-offset-3">
                                <input type="file">
                                <a href="#">
                                </a>
                            </div>
                        </div>  


                        <button type="submit" class="btn btn-effect-ripple btn-block  btn-success submit" style="text-align:center">
                            <i class="fa fa-check">
                            </i>
                            Submit
                        </button> 


                        <script type="text/javascript">
                        new Uploader({ el: "#upload" });
                        </script>

                    </form>             


                </div>
            </div>
        </div>

        <!-- END Page Content -->
    </div>
    <!-- END Main Container -->
</div>
<!-- END Page Container -->
</div>
<!-- END Page Wrapper -->


<!-- Compose Message -->
<div id="modal-compose" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title"><strong>Compose Message</strong></h3>
            </div>
            <div class="modal-body">
                <form action="/compose" method="post" class="form-horizontal form-bordered">
                    <div class="form-group">
                        <input type="hidden" name="origin" value="/user">
                        <div class="col-xs-12">
                            If you have any feedback please feel free to let us know! This information will be sent to admin who will attend you shortly after that. We thank you and appreciate the feedback! ;)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <textarea id="fcompose-message" name="message" rows="7" class="form-control" placeholder="Write your message.."></textarea>
                        </div>
                    </div>
                    <div class="form-group form-actions">
                        <div class="col-xs-12 text-right">
                            <button type="submit" class="btn btn-effect-ripple btn-primary">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END Compose Message -->
