<div id="page-wrapper" class="page-loading">
	<!-- Preloader -->
	<!-- Preloader functionality (initialized in js/app.js) - pageLoading() -->
	<!-- Used only if page preloader enabled from inc/config (PHP version) or the class 'page-loading' is added in body element (HTML version) -->
	<div class="preloader">
		<div class="inner">
			<!-- Animation spinner for all modern browsers -->
			<div class="preloader-spinner themed-background hidden-lt-ie10"></div>

			<!-- Text for IE9 -->
			<h3 class="text-primary visible-lt-ie10"><strong>Loading..</strong></h3>
		</div>
	</div>

	<div id="page-container" class="header-fixed-top sidebar-visible-lg-full">
		<!-- Alternative Sidebar -->
		<div id="sidebar-alt" tabindex="-1" aria-hidden="true">
			<!-- Toggle Alternative Sidebar Button (visible only in static layout) -->
			<a href="javascript:void(0)" id="sidebar-alt-close" onclick="App.sidebar('toggle-sidebar-alt');"><i class="fa fa-times"></i></a>

			<!-- Wrapper for scrolling functionality -->
			<div id="sidebar-scroll-alt">
				<!-- Sidebar Content -->
				<div class="sidebar-content">

					<!-- Profile -->
					<div class="sidebar-section">
						<h2 class="text-light">Profile</h2>
						<form action="/update" method="post" class="form-control-borderless" >
							<div class="form-group">
								<label for="side-profile-name">Company Name</label>
								<input type="text" name="company" class="form-control" value="<%=Parse.User.current().get("company")%>">
							</div>
							<div class="form-group">
								<label for="side-profile-email">Email</label>
								<input type="email" name="email" class="form-control" value="<%=Parse.User.current().get("email")%>">
							</div>
							<div class="form-group">
								<label for="side-profile-password">Website URL</label>
								<input type="text" name="website" class="form-control" value="<%=Parse.User.current().get("website")%>">
							</div>
							<div class="form-group">
								<label for="side-profile-password-confirm">Social Media Site</label>
								<input type="text" name="social" class="form-control" value="<%=Parse.User.current().get("social")%>">
							</div>
							<div class="form-group">
								<label for="side-profile-password-confirm">Description</label>
								<input type="text"  name="desc" class="form-control" value="<%=Parse.User.current().get("desc")%>">
							</div>
							<div class="form-group remove-margin">
								<button type="submit" class="btn btn-effect-ripple btn-primary" onclick="App.sidebar('close-sidebar-alt');">Save</button>
							</div>
						</form>
					</div>
					<!-- END Profile -->


				</div>
				<!-- END Sidebar Content -->
			</div>
			<!-- END Wrapper for scrolling functionality -->
		</div>
		<!-- END Alternative Sidebar -->

		<!-- Main Sidebar -->
		<div id="sidebar">
			<!-- Sidebar Brand -->
			<div id="sidebar-brand" class="themed-background">
				<a href="/merchant" class="sidebar-title">
					<i class=""></i> <span class="sidebar-nav-mini-hide">The<strong>Foodie Market</strong></span>
				</a>
			</div>
			<!-- END Sidebar Brand -->

			<!-- Wrapper for scrolling functionality -->
			<div id="sidebar-scroll">
				<!-- Sidebar Content -->
				<div class="sidebar-content">
					<!-- Sidebar Navigation -->
					<ul class="sidebar-nav">
						<li class="" style="text-align:center;">
							<strong>MERCHANT</strong>
						</li>

						<li class="sidebar-separator">
							<i class="fa fa-ellipsis-h"></i>
						</li>
						<li class="active">
							<a href="/merchant"><i class="fa fa-bullhorn sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Campaigns</span></a>
						</li>
						<li>
							<a href="/merchant-upload"><i class="fa fa-cloud-upload sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Upload</span></a>
						</li>
						<li>
							<a href="#" class="sidebar-nav-menu"><i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="fa fa-pie-chart sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Reports</span></a>
							<ul>
								<li>
									<a href="">Customer</a>
								</li>
								<li>
									<a href="">Merchant</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#" class="sidebar-nav-menu">
								<i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
								<i class="fa fa-paypal sidebar-nav-icon"></i>
								<span class="sidebar-nav-mini-hide">Payment</span>
							</a>
							<ul>
								<li>
									<a href="/merchant-transaction">Unpaid Ads</a>
								</li>
								<li>
									<a href="">History Payments</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="/merchant-inbox">
								<i class="fa fa-inbox sidebar-nav-icon"></i>
								<span class="sidebar-nav-mini-hide">Inbox</span>
							</a>
						</li>
						<li>
							<a href="#modal-compose" data-toggle="modal" style="overflow: hidden; position: relative;">
								<i class="fa fa-pencil sidebar-nav-icon"></i>
								<span class="sidebar-nav-mini-hide">Feedback</span>
							</a>
						</li>
					</ul>
					<!-- END Sidebar Navigation -->
				</div>
				<!-- END Sidebar Content -->
			</div>
			<!-- END Wrapper for scrolling functionality -->

			<!-- Sidebar Extra Info -->
			<div id="sidebar-extra-info" class="sidebar-content sidebar-nav-mini-hide">
				<div class="text-center">
					<small>Crafted with <i class="fa fa-heart text-danger"></i> by AT+CO.JR. </small>
				</div>
			</div>
			<!-- END Sidebar Extra Info -->
		</div>
		<!-- END Main Sidebar -->

		<!-- Main Container -->
		<div id="main-container">


			<header class="navbar navbar-inverse navbar-fixed-top">
				<!-- Left Header Navigation -->
				<ul class="nav navbar-nav-custom">
					<!-- Main Sidebar Toggle Button -->
					<li>
						<a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar');">
							<i class="fa fa-ellipsis-v fa-fw animation-fadeInRight" id="sidebar-toggle-mini" style="margin-bottom: 13px; margin-top: 13px;"></i>
							<i class="fa fa-bars fa-fw animation-fadeInRight" id="sidebar-toggle-full" style="margin-bottom: 13px; margin-top: 13px;"></i>
						</a>
					</li>
					<!-- END Main Sidebar Toggle Button -->

					<!-- Header Link -->
					<li class="hidden-xs animation-fadeInQuick">
						<a><strong>Your Store</strong></a>
					</li>
					<!-- END Header Link -->
				</ul>
				<!-- END Left Header Navigation -->

				<!-- Right Header Navigation -->
				<ul class="nav navbar-nav-custom pull-right">


					<!-- Alternative Sidebar Toggle Button -->
					<li>
						<a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar-alt');">
							<i class="fa fa-user" style="margin-bottom: 13px; margin-top: 13px;"></i>
						</a>
					</li>
					<!-- END Alternative Sidebar Toggle Button -->

					<!-- User Dropdown -->
					<li class="dropdown">
						<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-sign-in" style="margin-bottom: 13px; margin-top: 13px;"></i>
						</a>
						<ul class="dropdown-menu dropdown-menu-right">
							<li class="dropdown-header">
								<strong>MERCHANT</strong>
							</li>
							<li>
								<a href="/logout">
									<i class="fa fa-sign-out fa fa-inbox fa-fw pull-right"></i>
									Logout
								</a>
							</li>


						</ul>
					</li>
					<!-- END User Dropdown -->
				</ul>
				<!-- END Right Header Navigation -->
			</header>
			<!-- END Header -->

			<!-- Page content -->
			<div id="page-content">

				<!-- Gallery Header -->
				<div class="content-header">

					<div class="header-section text-center">
						<div class="btn-group gallery-filter">
							<!-- <a href="javascript:void(0)" class="btn btn-effect-ripple btn-primary active" data-category="all" style="overflow: hidden; position: relative;"><span class="btn-ripple animate" style="height: 43px; width: 43px; top: -9.5px; left: 13.5px;"></span>All</a> -->
							<a href="javascript:void(0)" class="btn btn-effect-ripple btn-primary" data-category="current" style="overflow: hidden; position: relative;"><span class="btn-ripple animate" style="height: 64px; width: 64px; top: -24px; left: -1px;"></span>Approved</a>
							<a href="javascript:void(0)" class="btn btn-effect-ripple btn-primary" data-category="pending" style="overflow: hidden; position: relative;"><span class="btn-ripple animate" style="height: 57px; width: 57px; top: -0.5px; left: 12.5px;"></span>Pending</a>
							<a href="javascript:void(0)" class="btn btn-effect-ripple btn-primary" data-category="rejected" style="overflow: hidden; position: relative;"><span class="btn-ripple animate" style="height: 70px; width: 70px; top: -9px; left: -18px;"></span>Rejected</a>
							<a href="javascript:void(0)" class="btn btn-effect-ripple btn-primary" data-category="expired" style="overflow: hidden; position: relative;"><span class="btn-ripple animate" style="height: 70px; width: 70px; top: -9px; left: -18px;"></span>Expired</a>
						</div>

						<div class="block-options pull-right">
							<a href="javascript:void(0)" class="btn btn-effect-ripple btn-default" style="overflow: hidden; position: relative;"><i class="fa fa-arrow-left"></i> Prev</a>
							<a href="javascript:void(0)" class="btn btn-effect-ripple btn-default" style="overflow: hidden; position: relative;">Next <i class="fa fa-arrow-right"></i></a>
						</div>
					</div>
					<!-- END Gallery Filter Links -->
				</div>
				<!-- END Gallery Header -->


				<!-- Gallery Items -->
				<!-- Lightbox functionality is based on Magnific Popup plugin (initialized in js/app.js -> uiInit()) -->
				<!-- Add the category value for each item in its data-category attribute (for the filter functionality to work) -->

				<!-- Okay, this part is for retrieval of all images. and all the images, will have a data-category tag in the class: gallery-image-container-->
				<div class="row gallery">
					<% _(images).each(function(image){
						var imageURL = image.get('sizeNormal').url();
						var imageMetadata = image.get('imageMetadata');
						var title = imageMetadata.get('title');
						var desc = imageMetadata.get('desc');
						var expiry = imageMetadata.get('expiry');
						var location = imageMetadata.get('location');
						var reason = imageMetadata.get('reason');

						var dataCategory = "";
						var reasonTag = "";
						var status = imageMetadata.get("approval");
						if (status=="1") {
							dataCategory = "current";
						}else if (status=="0"){
							dataCategory = "pending";
						}else if (status=="-1"){
							dataCategory = "rejected";
							reasonTag = "<h3>Reason for Rejection: </h3>" + reason;
						}else if (status=="2"){
							dataCategory = "expired";
						} %>
						<div class="col-sm-3">

							<div class="widget-image widget-image-xs gallery-image-container animation-fadeInQuick2" data-category="<%=dataCategory%>"> 
								<!-- <div class="gallery-image-container animation-fadeInQuick2" data-category="cafe">  -->
								<img src="<%= imageURL %>"
								alt="<%= desc
								+'|||'
								+expiry
								+'|||'
								+location
								%>" 
								>
								<a href="<%= image.get('sizeNormal').url() %>" data-toggle="lightbox-image" class="gallery-image-options"
									title="<%= 
									"<h3>Title: </h3>"
									+ title
									+ "<h3>Company: </h3>"
									+ "<h3>Description: </h3>"
									+ desc
									+ "<br>"
									+ "<h3>Campaign Period (Days/ End Date): </h3>"
									+ expiry
									+ "<br>" 
									+ "<h3>Location: </h3>"
									+ location 
									+ reasonTag
									%>"
									>	
									<i class="fa fa-search-plus fa-3x text-light"></i>
								</a>
							</div>

							<%if (status=="0"){%>
							<!--pending ads footer -->
							<div class="modal-footer">
								<h2 class="text-info"> Pending </h2>
							</div>
							<!-- end pending ads footer -->
							
							<%}else if (status=="1"){%>
							<!--current ads footer -->
							<div class="modal-footer">
								<h2 class="text-success"> Approved </h2>
							</div>
							<!-- end current ads footer -->
							<%}
							else if (status=="-1"){%>
							<!-- rejected ads footer -->
							<div class="modal-footer">
								<h2 class="text-danger"> Rejected </h2>
							</div>
							<!-- END rejected ads footer -->
							<%}
							else{%>
							<!-- expired ads footer -->
							<div class="modal-footer">
								<h2 class="text-muted"><a href="/merchant-transaction"> Expired </a></h2>
							</div>
							<!-- END expired ads footer -->
							<%}%>
						</div>
						<%});%>

					</div>

					<!-- END Gallery Items -->
				</div>
				<!-- END Page Content -->
			</div>
			<!-- END Main Container -->
		</div>
		<!-- END Page Container -->
	</div>
	<!-- END Page Wrapper -->

	<!-- Compose Message -->
	<div id="modal-compose" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 class="modal-title"><strong>Compose Message</strong></h3>
				</div>
				<div class="modal-body">
					<form action="/compose" method="post" class="form-horizontal form-bordered">
						<div class="form-group">
							<input type="hidden" name="origin" value="/merchant">
							<div class="col-xs-12">
								If you have any feedback please feel free to let us know! This information will be sent to admin who will attend you shortly after that. We thank you and appreciate the feedback! ;)
							</div>
						</div>
						<div class="block full form-inline">
							<!-- Inline Form Content -->

							<div class="form-group">
								<label class="sr-only" for="contact">Email</label>
								<input type="email" name="contact" class="form-control" placeholder="Email">
							</div>
							<div class="form-group">
								<label class="sr-only" for="contactNumber">Contact</label>
								<input type="number" name="contactNumber" class="form-control" placeholder="Contact number">
							</div>
							<div class="form-group">

								<button type="reset" class="btn btn-effect-ripple btn-danger" style="overflow: hidden; position: relative;">Reset</button>
							</div>
							<!-- END Inline Form Content -->
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<textarea id="fcompose-message" name="message" rows="7" class="form-control" placeholder="Write your message.."></textarea>
							</div>
						</div>
						<div class="form-group form-actions">
							<div class="col-xs-12 text-right">
								<button type="submit" class="btn btn-effect-ripple btn-primary">Send</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- END Compose Message -->
