<% 
if(Parse.User)
    %>

<div id="page-wrapper" class="page-loading">
    <!-- Preloader -->
    <!-- Preloader functionality (initialized in js/app.js) - pageLoading() -->
    <!-- Used only if page preloader enabled from inc/config (PHP version) or the class 'page-loading' is added in body element (HTML version) -->
    <div class="preloader">
        <div class="inner">
            <!-- Animation spinner for all modern browsers -->
            <div class="preloader-spinner themed-background hidden-lt-ie10"></div>

            <!-- Text for IE9 -->
            <h3 class="text-primary visible-lt-ie10"><strong>Loading..</strong></h3>
        </div>
    </div>
    
    <div id="page-container" class="header-fixed-top sidebar-visible-lg-full">
        <!-- Alternative Sidebar -->
        <div id="sidebar-alt" tabindex="-1" aria-hidden="true">
            <!-- Toggle Alternative Sidebar Button (visible only in static layout) -->
            <a href="javascript:void(0)" id="sidebar-alt-close" onclick="App.sidebar('toggle-sidebar-alt');"><i class="fa fa-times"></i></a>

            <!-- Wrapper for scrolling functionality -->
            <div id="sidebar-scroll-alt">
                <!-- Sidebar Content -->
                <div class="sidebar-content">
                    <!-- Color Themes -->
                    <!-- Preview a theme on a page functionality can be found in js/app.js - colorThemePreview() -->
                    <div class="sidebar-section">
                        <h2 class="text-light">Colors</h2>
                        <ul class="sidebar-themes clearfix">
                            <li>
                                <a href="javascript:void(0)" class="themed-background-default" data-theme="default" data-theme-navbar="navbar-inverse"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="themed-background-social" data-theme="css/themes/social.css" data-theme-navbar="navbar-inverse"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="themed-background-flat" data-theme="css/themes/flat.css" data-theme-navbar="navbar-inverse"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="themed-background-amethyst" data-theme="css/themes/amethyst.css" data-theme-navbar="navbar-inverse"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="themed-background-creme" data-theme="css/themes/creme.css" data-theme-navbar="navbar-inverse"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="themed-background-passion" data-theme="css/themes/passion.css" data-theme-navbar="navbar-inverse"></a>
                            </li>
                            
                        </ul>
                    </div>
                    <!-- END Color Themes -->

                    <!-- Profile -->
                    <div class="sidebar-section">
                        <h2 class="text-light">Profile</h2>
                        <form action="/update" method="post" class="form-control-borderless" >
                            <div class="form-group">
                                <label for="side-profile-name">Company Name</label>
                                <input type="text" name="company" class="form-control" value="<%=Parse.User.current().get("company")%>">
                            </div>
                            <div class="form-group">
                                <label for="side-profile-email">Email</label>
                                <input type="email" name="email" class="form-control" value="<%=Parse.User.current().get("email")%>">
                            </div>
                            <div class="form-group">
                                <label for="side-profile-password">Website URL</label>
                                <input type="text" name="website" class="form-control" value="<%=Parse.User.current().get("website")%>">
                            </div>
                            <div class="form-group">
                                <label for="side-profile-password-confirm">Social Media Site</label>
                                <input type="text" name="social" class="form-control" value="<%=Parse.User.current().get("social")%>">
                            </div>
                            <div class="form-group">
                                <label for="side-profile-password-confirm">Description</label>
                                <input type="text"  name="desc" class="form-control" value="<%=Parse.User.current().get("desc")%>">
                            </div>
                            <div class="form-group remove-margin">
                                <button type="submit" class="btn btn-effect-ripple btn-primary" onclick="App.sidebar('close-sidebar-alt');">Save</button>
                            </div>
                        </form>
                    </div>
                    <!-- END Profile -->

                    
                </div>
                <!-- END Sidebar Content -->
            </div>
            <!-- END Wrapper for scrolling functionality -->
        </div>
        <!-- END Alternative Sidebar -->

        <!-- Main Sidebar -->
        <div id="sidebar">
            <!-- Sidebar Brand -->
            <div id="sidebar-brand" class="themed-background">
                <a href="/merchant" class="sidebar-title">
                    <i class=""></i> <span class="sidebar-nav-mini-hide">The<strong>Foodie Market</strong></span>
                </a>
            </div>
            <!-- END Sidebar Brand -->

            <!-- Wrapper for scrolling functionality -->
            <div id="sidebar-scroll">
                <!-- Sidebar Content -->
                <div class="sidebar-content">
                    <!-- Sidebar Navigation -->
                    <ul class="sidebar-nav">

                        <li class="sidebar-separator">
                            <i class="fa fa-ellipsis-h"></i>
                        </li>
                        
                        <li>
                            <a href="/upload"><i class="fa fa-cloud-upload sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Upload</span></a>
                        </li>

                        <li>
                            <a href="#" class="sidebar-nav-menu">
                                <i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
                                <i class="fa fa-pie-chart sidebar-nav-icon"></i>
                                <span class="sidebar-nav-mini-hide">Reports</span>
                            </a>
                            <ul>
                                <li>
                                    <a href="">Customer</a>
                                </li>
                                <li>
                                    <a href="">Merchant</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#" class="sidebar-nav-menu">
                                <i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
                                <i class="fa fa-paypal sidebar-nav-icon"></i>
                                <span class="sidebar-nav-mini-hide">Payment</span>
                            </a>
                            <ul>
                                <li>
                                    <a href="">Unpaid Ads</a>
                                </li>
                                <li>
                                    <a href="">History Payments</a>
                                </li>
                            </ul>
                            
                        </li>

                    </ul>
                    <!-- END Sidebar Navigation -->
                </div>
                <!-- END Sidebar Content -->
            </div>
            <!-- END Wrapper for scrolling functionality -->

            <!-- Sidebar Extra Info -->
            <div id="sidebar-extra-info" class="sidebar-content sidebar-nav-mini-hide">
                <div class="text-center">
                    <small>Crafted with <i class="fa fa-heart text-danger"></i> by AT+CO.JR. </small>
                </div>
            </div>
            <!-- END Sidebar Extra Info -->
        </div>
        <!-- END Main Sidebar -->

        <!-- Main Container -->
        <div id="main-container">


            <header class="navbar navbar-inverse navbar-fixed-top">
                <!-- Left Header Navigation -->
                <ul class="nav navbar-nav-custom">
                    <!-- Main Sidebar Toggle Button -->
                    <li>
                        <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar');">
                            <i class="fa fa-ellipsis-v fa-fw animation-fadeInRight" id="sidebar-toggle-mini"></i>
                            <i class="fa fa-bars fa-fw animation-fadeInRight" id="sidebar-toggle-full"></i>
                        </a>
                    </li>
                    <!-- END Main Sidebar Toggle Button -->

                    <!-- Header Link -->
                    <li class="hidden-xs animation-fadeInQuick">
                        <a><strong>Your transaction records</strong></a>
                    </li>
                    <!-- END Header Link -->
                </ul>
                <!-- END Left Header Navigation -->

                <!-- Right Header Navigation -->
                <ul class="nav navbar-nav-custom pull-right">
                    <!-- Search Form -->
                            <!-- <li>
                                <form action="page_ready_search_results.html" method="post" class="navbar-form-custom" role="search">
                                    <input type="text" id="top-search" name="top-search" class="form-control" placeholder="Search..">
                                </form>
                            </li> -->
                            <!-- END Search Form -->

                            <!-- Alternative Sidebar Toggle Button -->
                            <li>
                                <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar-alt');">
                                    <i class="gi gi-settings"></i>
                                </a>
                            </li>
                            <!-- END Alternative Sidebar Toggle Button -->

                            <!-- User Dropdown -->
                            <li class="dropdown">
                                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-sign-in"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-header">
                                        <strong>MERCHANT</strong>
                                    </li>
                                    <li>
                                        <a href="/logout">
                                            <i class="gi gi-log_out fa fa-inbox fa-fw pull-right"></i>
                                            Logout
                                        </a>
                                    </li>
                                    
                                    
                                </ul>
                            </li>
                            <!-- END User Dropdown -->
                        </ul>
                        <!-- END Right Header Navigation -->
                    </header>
                    <!-- END Header -->
                    
                    
                    <!-- Page content -->
                    <!--
                        Available classes when #page-content-sidebar is used:

                        'inner-sidebar-left'      for a left inner sidebar
                        'inner-sidebar-right'     for a right inner sidebar
                    -->
                    <div id="page-content" style="min-height: 553px;">

                        <!-- Table Styles Block -->
                        <div class="block">

                            <!-- Table Styles Content -->
                            <div class="table-responsive">
                                <!-- Message List -->
                                <div id="message-list">

                                    <!-- Messages -->
                                    <div class="block-content-full" >
                                        <table class="table table-borderless table-striped table-vcenter remove-margin">
                                            <tbody>
                                                <!-- Use the first row as a prototype for your column widths -->
                                                <tr>
                                                    <td class="td-label td-label-muted text-center" style="width: 5%;">

                                                    </td>

                                                    <td>
                                                        <h4>
                                                            <a href="javascript:void(0)" class="text-dark"><strong>Please proceed to payment for your ad. </strong></a>
                                                        </h4>
                                                        <span class="text-muted">Title: The Best Deal EVER!</span>
                                                    </td>
                                                    <td class="hidden-xs text-center" style="width: 30px;">
                                                        <i class="fa fa-paperclip fa-2x text-muted"></i>
                                                    </td>
                                                    <td class="hidden-xs text-right text-muted" style="width: 120px;"><em>just now</em></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- END Messages -->
                                </div>
                                <!-- END Message List -->

                                <!-- Message View -->
                                <div id="message-view" class="block-section display-none">
                                    <!-- Title -->
                                    <div class="block-title clearfix">

                                        <div class="block-options pull-left">
                                            <a href="javascript:void(0)" class="btn btn-effect-ripple btn-default" id="message-view-back" style="overflow: hidden; position: relative;"><i class="fa fa-chevron-left"></i> Back to Inbox</a>
                                        </div>
                                    </div>
                                    <!-- END Title -->

                                    <!-- Message Body -->
                                    <!-- Message -->
                            <!-- <div class="alert alert-success text-center">
                                <h2><strong>Thank you for your business <i class="fa fa-smile-o"></i></strong></h2>
                                <p>We will be happy to work together again in the future!</p>
                            </div> -->
                            <!-- END Message -->

                            <!-- Table -->
                            <div class="table-responsive">
                                <img src="https://scontent-a-sin.xx.fbcdn.net/hphotos-prn2/v/t1.0-9/10489646_676901545733275_6422407875423130366_n.jpg?oh=0e26883bd6718db90e3f05c8c39874a2&oe=5491225F">
                                <table class="table table-striped table-hover table-borderless table-vcenter">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th style="width: 50%;">Product</th>
                                            <th class="text-center">Quantity</th>
                                            <th class="text-right">Unit</th>
                                            <th class="text-right">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center">1</td>
                                            <td>
                                                <h4>Likes</h4>
                                            </td>
                                            <td class="text-center"><span class="label label-success"><strong>x1000</strong></span></td>
                                            <td class="text-right">$ 100</td>
                                            <td class="text-right">$ 100</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">2</td>
                                            <td>
                                                <h4>Share</h4>
                                            </td>
                                            <td class="text-center"><span class="label label-success"><strong>x1000</strong></span></td>
                                            <td class="text-right">$ 200</td>
                                            <td class="text-right">$ 200</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">3</td>
                                            <td>
                                                <h4>Additional Days</h4>
                                            </td>
                                            <td class="text-center"><span class="label label-success"><strong>x30</strong></span></td>
                                            <td class="text-right">$ 300</td>
                                            <td class="text-right">$ 300</td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" class="text-right"><span class="h4">Subtotal</span></td>
                                            <td class="text-right"><span class="h4">$600</span></td>
                                        </tr>
                                        <tr class="warning">
                                            <td colspan="4" class="text-right"><span class="h4"><strong>Total Due</strong></span></td>
                                            <td class="text-right"><span class="h4"><strong>$ 1600</strong></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- END Table -->
                            <!-- <button type="button" class="btn btn-lg btn-block btn-danger"><i class="fa fa-cc-paypal"></i>   Make Payment</button> -->
                            <div class="col-xl-2 text-center">

                                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                    <input type="hidden" name="cmd" value="_xclick-subscriptions">
                                    <input type="hidden" name="business" value="emailhelenshih@gmail.com">
                                    <input type="hidden" name="lc" value="SG">
                                    <input type="hidden" name="item_name" value="Ads Posting Subscription">
                                    <input type="hidden" name="no_note" value="1">
                                    <input type="hidden" name="src" value="1">
                                    <input type="hidden" name="a3" value="1600">
                                    <input type="hidden" name="p3" value="1">
                                    <input type="hidden" name="t3" value="M">
                                    <input type="hidden" name="currency_code" value="SGD">
                                    <input type="hidden" name="bn" value="PP-SubscriptionsBF:AfjVuanB:NonHostedGuest">
                                    <input type="image" src="https://db.tt/AfjVuanB" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                                    <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                                </form>


                            </div>
                            <!-- <form id="checkout" method="post" action="/checkout">
                              <div id="dropin"></div>
                              <input type="submit" value="Pay $10">
                          </form> -->
                          <!-- END Message Body -->
                      </div>
                      <!-- END Message View -->
                      <!-- END Table Styles Content -->
                  </div>
                  <!-- END Table Styles Block -->
              </div>
              <!-- END Page Content -->
          </div>
          <!-- END Main Container -->
      </div>
      <!-- END Page Container -->
  </div>
  <!-- END Page Wrapper -->
