<div id="fb-root"></div>
<script>

$(document).ready(function(){
  facebookMod.getUserInfo(function(resp) {
    $("#lastName").html(resp.lastName);
    $("#profileImage").attr("src", resp.imageURL);
    $("#fullName").html(resp.fullName);
    $("#points").html(resp.points);
  });
});

</script>

<div class="w-row bod">

  <!-- start of main body codes -->

  <div class="w-col w-col-11 w-col-small-11 w-col-tiny-11 main-user">
    <div class="middletop">
      <a class="w-inline-block link" >
        <img class="centertop" src="images/Chef-Cap-256.png">
      </a>
    </div>

    <!-- start of top listing --> 

    <div class="w-clearfix head">
      <h1 id="top"></h1>
      <% _(images).each(function(image) { %>
      <div class="w-clearfix image bloc" data-ix="click-show">
        <img class="adsimage" src="<%= image.get('sizeNormal').url() %>" width="480" 
        alt="<%= image.get("user").get("company")+","
        +image.get("imageMetadata").get("desc")+","
        +image.get("imageMetadata").get("expiry")+","
        +image.get("imageMetadata").get("location") %>" 
        data-ix="over">
          <div class="like"  id="OMG" data-ix="over">
            <h4 class="count">
            <div class="fb-like"  
              data-href="https://13aug.parseapp.com/images/10488385_796036830437050_8365621372246261421_n.jpg" data-layout="button" data-action="like" data-show-faces="false" data-share="false">
            </div>
            </h4>
          </div>
          <div class="share" data-ix="over">
            <h4 class="count">
              <div class="fb-share-button" onclick="facebookMod.feed('#')">
              </div>
            </h4>
          </div>
      </div>
      <% }); %>
    </div>
    <!-- end of top listing --> 
<!-- start of cafe listing -->
    <div class="w-clearfix head">
      <h1 id="cafe">CAFE</h1>
      <% _(images).each(function(image) { 
        var user = image.get("user");
        var imageMetadata = image.get('imageMetadata');
        if (imageMetadata.get("category")==="cafe"){%>
        <div class="w-clearfix image bloc" data-ix="click-show">
          <img class="adsimage" src="<%= image.get('sizeNormal').url() %>" width="480" 
            alt="<%= user.get("company")+","
            +image.get("imageMetadata").get("desc")+","
            +image.get("imageMetadata").get("expiry")+","
            +image.get("imageMetadata").get("location") %>" 
          data-ix="over">
          <div class="like"  id="OMG" data-ix="over">
            <h4 class="count">
            <div class="fb-like"  
              data-href="https://13aug.parseapp.com/images/10488385_796036830437050_8365621372246261421_n.jpg" data-layout="button" data-action="like" data-show-faces="false" data-share="false">
            </div>
            </h4>
          </div>
          <div class="share" data-ix="over">
            <h4 class="count">
              <div class="fb-share-button" onclick="facebookMod.feed('#')">
              </div>
            </h4>
          </div>
        </div>
        <% }
      }); %>
    </div>
    <!-- end of cafe listing -->


    <!-- start of bar listing -->
    <div class="w-clearfix head">
      <h1 id="bar">BAR</h1>
      <% _(images).each(function(image) { 
        var user = image.get("user");
        var imageMetadata = image.get('imageMetadata');
        if (imageMetadata.get("category")==="bar"){%>
        <div class="w-clearfix image bloc" data-ix="click-show">
          <img class="adsimage" src="<%= image.get('sizeNormal').url() %>" width="480" 
            alt="<%= user.get("company")+","
            +imageMetadata.get("desc")+","
            +imageMetadata.get("expiry")+","
            +imageMetadata.get("location") %>" 
          data-ix="over">
          <div class="like"  id="OMG" data-ix="over">
            <h4 class="count">
            <div class="fb-like"  
              data-href="https://13aug.parseapp.com/images/10488385_796036830437050_8365621372246261421_n.jpg" data-layout="button" data-action="like" data-show-faces="false" data-share="false">
            </div>
            </h4>
          </div>
          <div class="share" data-ix="over">
            <h4 class="count">
              <div class="fb-share-button" onclick="facebookMod.feed('#')">
              </div>
            </h4>
          </div>
        </div>
      <% }}); %>
    </div>
    <!-- end of bar listing -->

    <!-- start of dining listing -->
    <div class="w-clearfix head">
      <h1 id="dining">DINING</h1>
      <% _(images).each(function(image) { 
        var user = image.get("user");
        var imageMetadata = image.get('imageMetadata');
        if (imageMetadata.get("category")==="dining"){%>
        <div class="w-clearfix image bloc" data-ix="click-show">
          <img class="adsimage" src="<%= image.get('sizeNormal').url() %>" width="480" 
          alt="user,<%=user.get("company")+","
          +image.get("imageMetadata").get("desc")+","
          +image.get("imageMetadata").get("expiry")+","
          +image.get("imageMetadata").get("location")%>" 
          data-ix="over">
          <div class="like"  id="OMG" data-ix="over">
            <h4 class="count">
            <div class="fb-like"  
              data-href="https://13aug.parseapp.com/images/10488385_796036830437050_8365621372246261421_n.jpg" data-layout="button" data-action="like" data-show-faces="false" data-share="false">
            </div>
            </h4>
          </div>
          <div class="share" data-ix="over">
            <h4 class="count">
              <div class="fb-share-button" onclick="facebookMod.feed('#')">
              </div>
            </h4>
          </div>
        </div>
      <% }}); %>
    </div>
    <!-- end of dining listing -->
   

<!-- START OF INFO CODES -->
<!-- start of infobox codes -->
    <div class="infobox" id="info" data-ix="click-hide-info">
      <div class="w-row inforow" id="infobox">
        <div class="w-col w-col-6">
          <img class="popup-image adsimg" src="images/10547598_796038173770249_6562118821213318215_n.jpg" width="320" 
          data-ix="click-show">
        </div>
        <div class="w-col w-col-6 info">

          <h1>Promotion Details</h1>

          <h4>by: </h4>
          <h4 class="companyName">--COMPANY NAME--</h4>
          <br><h4>Description: </h4><h4 class="promoInfo">Description</h4>
          <br><h4>Valid until: </h4><h4 class="expiry">Expiry</h4>
          <br><h4>Map: </h4><h4 class="site">Locaiton</h4>

        <div class="w-container infoactive">
          <a class="w-inline-block infoicon" href="/like" data-ix="over">
            <img class="infoimg" src="images/Shape-Heart-256.png">
            <h2>like</h2>
          </a>
          <a class="w-inline-block infoicon" href="/share" data-ix="over">
            <img class="infoimg" src="images/Shape12-256.png">
            <h2>share</h2>
          </a>
          <a class="w-inline-block infoicon" href="/fav" data-ix="over">
            <img class="infoimg" src="images/Shape-Diamond-256.png">
            <h2>favourite</h2>
          </a>
          <a class="w-inline-block infoicon" href="/visit" data-ix="over">
            <img class="infoimg" src="images/Shape-Spade-256.png">
            <h2>visit us</h2>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- end of infobox codes -->


<!-- start of user profile infobox codes -->
<div class="w-col w-col-10 w-col-small-10 w-col-tiny-10 main-merchant">
  <div class="fbuserprofile" data-ix="click-hide-info">
    <div class="w-row">
      <div class="w-col w-col-6">
        <img class="fbdpic" src="images/1.png" width="100%" >
      </div>
      <div class="w-col w-col-6">
        <div class="w-container user-point-count">
          <img class="money" src="images/1.png" width="65" >
          <div class="fb-text">&nbsp;####</div>
        </div>
        <div class="w-container username">
          <div class="fb-text">username</div>
        </div>
        <div class="w-container email-address">
          <div class="fb-text">bank account number</div>
        </div>
        <div class="w-container gender">
          <div class="fb-text">email</div>
        </div>
        <div class="w-container fblink">
          <div class="fb-text">gender</div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of user profile infobox codes -->


  <!-- start of cashout info box codes -->
  <div class="cashout" data-ix="click-hide-info">
    <div class="w-container">
      <img class="cashimg" src="images/cashout.png" width="100" png>
      <h6>CASH OUT NOW!</h6>
    </div>
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-6">
          <div class="cashtext">like</div>
        </div>
        <div class="w-col w-col-6">
          <div class="cashtext">share</div>
        </div>
      </div>
      <div class="w-row">
        <div class="w-col w-col-6">
          <div class="cashtext points">####</div>
        </div>
        <div class="w-col w-col-6">
          <div class="cashtext points">####</div>
        </div>
      </div>
    </div>
    <div class="w-container">
      <div class="w-row mathsbar">
        <div class="w-col w-col-6 left">
          <div class="cashtext">x2</div>
        </div>
        <div class="w-col w-col-6">
          <div class="cashtext">x5</div>
        </div>
      </div>
    </div>
    <div class="w-container">
      <img class="cashimg" src="images/money-bag-xxl.png">
      <div class="cashtext points">####</div><a class="button" href="#">confirm</a>
    </div>
  </div>

  <!-- end of cashout infobox codes -->


  <!-- start of favourite ads infobox codes -->
  <div class="favourites" data-ix="click-hide-info">
    <div class="w-container">
      <h6 class="message">my favourite promotions</h6>
      <img class="adsfav" src="images/ice.jpg" width="200">
      <img class="adsfav" src="images/141.jpg" width="480" >
      <img class="adsfav" src="images/hpyhr.jpg" width="480">
      <img class="adsfav" src="images/siam.jpg" width="480" >
      <img class="adsfav" src="images/yoguru.jpg" width="480">
      <img class="adsfav" src="images/lunch.png" width="336">
      <img class="adsfav" src="images/godiva.png" width="320">
    </div>
  </div>

  <!-- end of favourite ads infobox codes -->

  <!-- start of mailbox infobox codes -->
  <div class="mailbox" data-ix="click-hide-info">
    <div class="w-container">
      <h6 class="inbox">inbox</h6>
    </div>
    <div class="w-container">
      <ul class="list">
        <li class="unread">
          <div class="inboxmsg">unread message&nbsp;</div>
          <div class="inboxmsg">your favourite promo: “yoguru and free toppings"&nbsp;is expiring in 7 days!&nbsp;</div>
          <div class="inboxmsg">your favourite promo: “7 cupcakes and giftbox" is expiring in 7 days!</div>
          <div class="inboxmsg">check out your updated piggy bank!</div>
          <div class="inboxmsg">your favourite promo: “buffet dining 1-4-1” is expiring in 7 days!</div>
        </li>
        <li class="read">
          <div class="inboxmsg">your favourite promo: “happy hours at harry's” is expiring in 7 days!</div>
          <div class="inboxmsg">congratulation! you have cash out $10.90!&nbsp;</div>
        </li>
      </ul>
    </div>
  </div>
  <!-- end of mailbox infobox codes -->
  <!-- end of infobox codes -->
</div>
<!-- end of main body codes -->

<!-- start of navigation codes -->
  <div class="w-col w-col-1 w-col-small-1 w-col-tiny-1 nav">
    <a class="w-inline-block nav-img" href="/" data-ix="over">
      <img class="imgnav" src="images/Shape13-256.png" alt="NEW">
      <h2>new</h2>
    </a>
    <a class="w-inline-block nav-img" href="/trending" data-ix="over">
      <img class="imgnav" src="images/Shape-Lightning-256.png" alt="TRENDING">
      <h2>trending</h2>
    </a>
    <a class="w-inline-block nav-img" href="/ending" data-ix="over">
      <img class="imgnav" src="images/Race-Flag-256.png" alt="ENDING">
      <h2>ending</h2>
    </a>


    <hr></hr>


    <a class="w-inline-block nav-img" href="#cafe" data-ix="over">
      <img class="imgnav" src="images/Beverage-Coffee-01-256.png" alt="CAFE">
      <h2>cafe</h2>
    </a>
    <a class="w-inline-block nav-img" href="#bar" data-ix="over">
      <img class="imgnav" src="images/Beverage-Juice-02-256.png" alt="BAR">
      <h2>bar</h2>
    </a>
    <a class="w-inline-block nav-img" href="#dining" data-ix="over">
      <img class="imgnav" src="images/Cutlery-Fork-Knife-256.png" alt="DINING">
      <h2>dining</h2>
    </a>

  </div>
  <!-- end of navigation codes -->
<!-- start of another navigation codes -->

<div class="w-col w-col-1 w-col-small-1 w-col-tiny-1 navright">
  <a class="w-inline-block nav-img" data-ix="click-show-fb-profile">
    <img class="imgnav" src="images/Facebook-256.png" data-ix="over">
    <h2 data-ix="over"><label id="lastName">profile</label></h2><!--last name-->
  </a>
  <a class="w-inline-block nav-img">
    <img class="imgnav" src="images/Money-Deposit-256.png" data-ix="over">
    <h2 data-ix="over"><label id="points">###</label></h2>
  </a>
  <a class="w-inline-block nav-img" href="#" data-ix="click-show-cash-out">
    <img class="imgnav" src="images/Money-Bag-256.png"  data-ix="over">
    <h2 data-ix="over">cashout</h2>
  </a>
  <a class="w-inline-block nav-img" data-ix="click-show-favourite">
    <img class="imgnav" src="images/Bookmark-256.png" data-ix="over">
    <h2 data-ix="over">favourites</h2>
  </a>
  <a class="w-inline-block nav-img" data-ix="click-show-mailbox">
    <img class="imgnav" src="images/Message-Mail-256.png" data-ix="over">
    <h2 data-ix="over">mailbox</h2>
  </a>
  <a class="w-inline-block nav-img" href="#" data-ix="over">
    <img class="imgnav" src="images/Dialog-Box-About-256.png"data-ix="over">
    <h2 data-ix="over">about</h2>
  </a>
</div>

<!-- end of another navigation codes -->
</div>