
<% 
var totalLike = 0;
var totalShare = 0;
_(allImages).each(function(image){
	var imageMetadata = image.get("imageMetadata");
	totalLike = totalLike + imageMetadata.get("likes");
	totalShare = totalShare + imageMetadata.get("shares");
})
%>

<div id="page-wrapper" class="page-loading">
	<!-- Preloader -->
	<!-- Preloader functionality (initialized in js/app.js) - pageLoading() -->
	<!-- Used only if page preloader enabled from inc/config (PHP version) or the class 'page-loading' is added in body element (HTML version) -->
	<div class="preloader">
		<div class="inner">
			<!-- Animation spinner for all modern browsers -->
			<div class="preloader-spinner themed-background hidden-lt-ie10"></div>

			<!-- Text for IE9 -->
			<h3 class="text-primary visible-lt-ie10"><strong>Loading..</strong></h3>
		</div>
	</div>

	<div id="page-container" class="header-fixed-top sidebar-visible-lg-full">
		<!-- Alternative Sidebar -->
		<div id="sidebar-alt" tabindex="-1" aria-hidden="true">
			<!-- Toggle Alternative Sidebar Button (visible only in static layout) -->
			<a id="sidebar-alt-close" onclick="App.sidebar('toggle-sidebar-alt');"><i class="fa fa-times"></i></a>

			<!-- Wrapper for scrolling functionality -->
			<div id="sidebar-scroll-alt">
				<!-- Sidebar Content -->
				<div class="sidebar-content">
					
					<!-- Profile -->
					<div class="sidebar-section">
						<h2 class="text-light">Profile</h2>
						<form action="/update-user" method="post" class="form-control-borderless">
							<input type="hidden" name="origin" value="/user">
							<div class="form-group">
								<label for="side-profile-name">Name</label>
								<input type="hidden" class="type" value="<%=Parse.User.current().id%>" id="userID">
								<input type="text" name="fullName" class="form-control" value="<%=Parse.User.current().get("fullName")%>">
							</div>
							<!-- <div class="form-group">
								<label for="side-profile-name">Age</label>
								<input type="text" name="" class="form-control" value="<%=Parse.User.
								current().get(
								// "dob"
								)%>">
							</div>
							<div class="form-group">
								<label for="side-profile-name">Occupation</label>
								<input type="text" name="" class="form-control" value="<%=Parse.User.
								current().get(
								// "occupation"
								)%>">
							</div> -->
							<div class="form-group">
								<label for="side-profile-name">Email Address</label>
								<input type="email" name="email" class="form-control" value="<%=Parse.User.current().get("email")%>">
							</div>
							<!-- <div class="form-group">
								<label for="side-profile-name">Paypal Account</label>
								<input type="text" name="paypal" class="form-control" value="<%=Parse.User.current().get("paypal")%>">
							</div> -->
							<div class="form-group remove-margin">
								<button type="submit" class="btn btn-effect-ripple btn-primary" onclick="App.sidebar('close-sidebar-alt');">Save</button>
							</div>
						</form>
					</div>
					<!-- END Profile -->
				</div>
				<!-- END Sidebar Content -->
			</div>
			<!-- END Wrapper for scrolling functionality -->
		</div>
		<!-- END Alternative Sidebar -->

		<!-- Main Sidebar -->
		<div id="sidebar">
			<!-- Sidebar Brand -->
			<div id="sidebar-brand" class="themed-background">
				<a href="/user" class="sidebar-title">
					<i class="fa fa-home"></i> <span class="sidebar-nav-mini-hide">Your<strong>Foodie Market</strong></span>
				</a>
			</div>
			<!-- END Sidebar Brand -->

			<!-- Wrapper for scrolling functionality -->
			<div id="sidebar-scroll">
				<!-- Sidebar Content -->
				<div class="sidebar-content">
					<!-- Sidebar Navigation -->
					<ul class="sidebar-nav">
						<li class="" style="text-align:center;">
							<strong>USER</strong>
						</li>

						<li class="sidebar-separator">
							<i class="fa fa-ellipsis-h"></i>
						</li>

						<li class="active">
							<a href="/user">
								<i class="fa fa-bullhorn sidebar-nav-icon"></i>
								<span class="sidebar-nav-mini-hide">Promotions</span>
							</a>
						</li>

						<li>
							<a href="/user-transaction">
								<i class="fa fa-dollar sidebar-nav-icon"></i>
								<span class="sidebar-nav-mini-hide">Cashout</span>
							</a>
						</li>

						<li>
							<a href="/user-bookmark">
								<i class="fa fa-bookmark sidebar-nav-icon"></i>
								<span class="sidebar-nav-mini-hide">Bookmark</span>
							</a>
						</li>
						<li>
							<a href="/user-inbox">
								<i class="fa fa-inbox sidebar-nav-icon"></i>
								<span class="sidebar-nav-mini-hide">Inbox</span>
							</a>
						</li>
						<li>
							<a href="#modal-compose" data-toggle="modal" style="overflow: hidden; position: relative;">
								<i class="fa fa-pencil sidebar-nav-icon"></i>
								<span class="sidebar-nav-mini-hide">Feedback</span>
							</a>
						</li>
					</ul>
					<!-- END Sidebar Navigation -->
				</div>
				<!-- END Sidebar Content -->
			</div>
			<!-- END Wrapper for scrolling functionality -->

			<!-- Sidebar Extra Info -->
			<div id="sidebar-extra-info" class="sidebar-content sidebar-nav-mini-hide">
				<div class="text-center">
					<small>Crafted with <i class="fa fa-heart text-danger"></i> by AT+CO.JR. </small>
				</div>
			</div>
			<!-- END Sidebar Extra Info -->
		</div>
		<!-- END Main Sidebar -->

		<!-- Main Container -->
		<div id="main-container">

			<header class="navbar navbar-inverse navbar-fixed-top">
				<!-- Left Header Navigation -->
				<ul class="nav navbar-nav-custom">
					<!-- Main Sidebar Toggle Button -->
					<li>
						<a onclick="App.sidebar('toggle-sidebar');">
							<i class="fa fa-ellipsis-v fa-fw animation-fadeInRight" id="sidebar-toggle-mini" style="margin-bottom: 13px; margin-top: 13px;"></i>
							<i class="fa fa-bars fa-fw animation-fadeInRight" id="sidebar-toggle-full" style="margin-bottom: 13px; margin-top: 13px;"></i>
						</a>
					</li>
					<!-- END Main Sidebar Toggle Button -->

					<!-- Header Link -->
					<li class="hidden-xs animation-fadeInQuick">
						<a> Welcome <%=Parse.User.current().get("fullName")%>! </a>
					</li>

					<li class="total-likes hidden-xs animation-fadeInQuick">
						<a>
							<i class="fa fa-heart-o"></i> 
							<%=totalLike%>
						</a>
					</li>
					<li class="total-shares hidden-xs animation-fadeInQuick">
						<a>
							<i class="fa fa-share-alt"></i> 
							<%=totalShare%>
						</a>
					</li>
<!-- 					<li class="hidden-xs animation-fadeInQuick">
						<a><strong>1 Like = 2 Points</strong></a>
					</li>
					<li class="hidden-xs animation-fadeInQuick">
						<a><strong>1 Share = 4 Points</strong></a>
					</li> -->
					<!-- END Header Link -->
				</ul>
				<!-- END Left Header Navigation -->

				<!-- Right Header Navigation -->
				<ul class="nav navbar-nav-custom pull-right">

					<!-- Alternative Sidebar Toggle Button -->
					<li>
						<a onclick="App.sidebar('toggle-sidebar-alt');">
							<i class="fa fa-user" style="margin-bottom: 13px; margin-top: 13px;"></i> My Profile
						</a>
					</li>
					<!-- END Alternative Sidebar Toggle Button -->

					<!-- User Dropdown -->
					<li>
						<a href="/logout">
							Logout
						</a>
					</li>
					<!-- END User Dropdown -->
				</ul>
				<!-- END Right Header Navigation -->
			</header>
			<!-- END Header -->

			<!-- Page content -->
			<div id="page-content">

				<!-- Gallery Header -->
				<div class="content-header">
					<!-- Gallery Filter Links -->
					<!-- Custom Gallery functionality is initialized in js/pages/compGallery.js -->
					<!-- Add the category value you want each link in .gallery-filter to filter out in its data-category attribute. Add the value 'all' to show all items -->
					<div class="header-section text-center">
						<div class="btn-group gallery-filter">
							<a class="btn btn-effect-ripple btn-primary active" data-category="all" style="overflow: hidden; position: relative;"><span class="btn-ripple animate" style="height: 43px; width: 43px; top: -9.5px; left: 13.5px;"></span>All</a>
							<a class="btn btn-effect-ripple btn-primary" data-category="cafe" style="overflow: hidden; position: relative;"><span class="btn-ripple animate" style="height: 64px; width: 64px; top: -24px; left: -1px;"></span>Cafe</a>
							<a class="btn btn-effect-ripple btn-primary" data-category="bars" style="overflow: hidden; position: relative;"><span class="btn-ripple animate" style="height: 57px; width: 57px; top: -0.5px; left: 12.5px;"></span>Bars</a>
							<a class="btn btn-effect-ripple btn-primary" data-category="dining" style="overflow: hidden; position: relative;"><span class="btn-ripple animate" style="height: 70px; width: 70px; top: -9px; left: -18px;"></span>Dining</a>
						</div>
						<div class="btn-group">
							<a data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Sort by: <%=type%><span class="caret"></span></a>
							<ul class="dropdown-menu text-left">
								
								<li>
									<a href="/user">
										New
									</a>
								</li>
								
								<li>
									<a href="/user-trending">
										Trending
									</a>
								</li>
								
								<li>
									<a href="/user-ending">
										Ending
									</a>
								</li>
							</ul>
						</div>
						<!-- <div class="block-options pull-right">
							<a class="btn btn-effect-ripple btn-default" style="overflow: hidden; position: relative;"><i class="fa fa-arrow-left"></i> Prev</a>
							<a class="btn btn-effect-ripple btn-default" style="overflow: hidden; position: relative;">Next <i class="fa fa-arrow-right"></i></a>
						</div> -->
					</div>
					<!-- END Gallery Filter Links -->
				</div>
				<!-- END Gallery Header -->
				
				<%
				if(images.length == 0){
					%>
					<div class="noshow"> There are currently no promotions in this category! </div>

					<%
				}
				%>

				<div class="row gallery">
					<%
					var user = Parse.User.current();
					var userLikeCount = user.get("likes");
					var userShareCount = user.get("shares");
					var userPointCount = user.get("points");

					_(images).each(function(image){
						var imageURL = image.get('sizeNormal').url();
						var imageID = image.id;
						var imageMetadata = image.get('imageMetadata');
						var title = imageMetadata.get('title');
						var desc = imageMetadata.get('desc');
						var promoStartDate = imageMetadata.get('promoStart');
						var dd = promoStartDate.getDate();
						var mm = promoStartDate.getMonth()+1; 
						var yyyy = promoStartDate.getFullYear();

						if(dd<10){
							dd='0'+dd;
						} 
						if(mm<10){
							mm='0'+mm;
						} 
						
						var promoStart = dd+'/'+mm+'/'+yyyy;
						var location = imageMetadata.get('location');
						var category = imageMetadata.get("category");
						var company = image.get("user").get("company");
						var promoEnd = imageMetadata.get("promoEnd");
						var likes = imageMetadata.get("likes");
						var shares = imageMetadata.get("shares");
						var views = imageMetadata.get("views");
						 dd = promoEnd.getDate();
						 mm = promoEnd.getMonth()+1; 
						var yyyy = promoEnd.getFullYear();

						if(dd<10){
							dd='0'+dd;
						} 
						if(mm<10){
							mm='0'+mm;
						} 
						
						var promoDate = dd+'/'+mm+'/'+yyyy;

						if (imageMetadata.get("approval")==1) {%>
						
						<div class="col-sm-3">
							<div class="widget-image widget-image-xs gallery-image-container animation-fadeInQuick2" data-category="<%=category%>"> 
								<!-- <div class="gallery-image-container animation-fadeInQuick2" data-category="cafe">  -->
								<img src="<%= imageURL %>"
								alt="<%= desc
								+'|||'
								+promoStart
								+'|||'
								+location
								%>" 
								>
								<a href="<%= imageURL %>" data-toggle="lightbox-image" class="gallery-image-options"
									title="<%= 
									"<h3>Title: </h3>"
									+ title
									+ "<h3>Company: </h3>"
									+ company
									+ "<h3>Description: </h3>"
									+ desc
									+ "<h3>Promotion End Date: </h3>"
									+ promoDate
									+ "<h3>Location: </h3>"
									+ location 
									+"<h3>Likes: </h3>"
									+ likes 
									+"<h3>Shares: </h3>"
									+ shares 
									%>"
									>
									<i class="fa fa-search-plus fa-3x text-light"></i>
								</a>
							</div>
							<!-- bookmark like share button -->
							<div class="modal-footer" title="<%=imageID%>">
								
								<div class="fb-like" data-href="https://thefoodiemarket.parseapp.com/i/<%=imageID%>"  data-layout="button" data-action="like" data-show-faces="true" data-dismiss="modal" title="<%=imageID%>"></div>
								
								<button type="button" class="share share2 btn btn-effect-ripple btn-info" data-dismiss="
								modal" title="<%=imageID + '|' + title + '|' + desc + '|' + Parse.User.current().id%>">
								Share
							</button>
							
							<%	
							var flag = false; 
							for (var i = bookmarks.length - 1; i >= 0; i--) {
								if(bookmarks[i]==imageID){
									flag = true;
								}
							};
							if(flag){
								%>
								<!-- if bookmarked -->
								<button type="button" class="bookmark-switch btn btn-effect-ripple btn-success"  title="<%=imageID%>">Unbookmark</button>	
								<%
							}else{
								%>
								<!-- if haven't bookmark -->
								<button type="button" class="bookmark-switch btn btn-effect-ripple btn-success"  title="<%=imageID%>">Bookmark</button>	
								<%
							}
							%>

							<div class="widget-content text-muted">
								<div class="row text-center">
									<div class="<%=imageID%> col-xs-4">
										<i class="fa fa-heart-o"></i> <%=likes%>
									</div>
									<!-- <div class="col-xs-4">
										<i class="fa fa-eye"></i> <%=views%>
									</div> -->
									<div class="<%=imageID%> col-xs-4">
										<i class="fa fa-share-alt"></i> <%=shares%>
									</div>
								</div>
							</div>

							<div class="widget-content text-muted">
								<%
							if(type == "Ending"){
								%>
								<small>End Date: <%=promoDate%></small>
								<%
							}else if(type == "New"){
								%>
								<small>Start Date: <%=promoStart%></small>
								<%
							}
							%>
						</div>				
						
					</div>
					<!-- END bookmark like share button -->
				</div>
				<%}});%>
			</div>
			<!-- END Gallery Items -->
		</div>
		<!-- END Page Content -->
	</div>
	<!-- END Main Container -->
</div>
<!-- END Page Container -->
</div>
<!-- END Page Wrapper -->


<!-- Compose Message -->
<div id="modal-compose" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title"><strong>Compose Message</strong></h3>
			</div>
			<div class="modal-body">
				<form action="/compose" method="post" class="form-horizontal form-bordered">
					<div class="form-group">
						<input type="hidden" name="origin" value="/merchant-inbox">
						<div class="col-xs-12">
							If you have any feedback or would like to contact us, please fill out the fields below. 
							<!-- If you have any feedback please feel free to let us know! This information will be sent to admin who will attend you shortly after that. We thank you and appreciate the feedback! ;) -->
						</div>
					</div>
					<div class="block full form-inline">
						<!-- Inline Form Content -->

						<div class="form-group">
							<label class="sr-only">email</label>
							<input type="email" name="contact" class="form-control" placeholder="Your email">
						</div>
						<div class="form-group">
							<label class="sr-only">contact</label>
							<input type="text" name="contactNumber" class="form-control" placeholder="Your contact number">
						</div>
						
						<!-- END Inline Form Content -->
					</div>
					<div class="form-group">
						<div class="col-xs-12">
							<textarea id="fcompose-message" name="message" rows="7" class="form-control" placeholder="Write your message.."></textarea>
						</div>
					</div>
					<div class="form-group form-actions">
						<div class="col-xs-12 text-right">
							<button type="reset" class="btn btn-effect-ripple btn-danger" style="overflow: hidden; position: relative;">Reset</button>
							<button type="submit" class="btn btn-effect-ripple btn-primary">Send</button>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-12">
							Or email our manager: plsitoh.2011@sis.smu.edu.sg
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- END Compose Message -->




<script>
var page_like_callback = function(url, html_element) {
	var userId = Parse.User.current().id;

	var query = new Parse.Query(Parse.User);
	query.get(userId, {
		success: function(user) {
			user.set("likes", user.get("likes")+1);
			user.set("points", user.get("points")+2);
			user.save(null, {
				success: function(savedUserObject) {
					console.log("facebook like successful");

				},
				error: function(object, error) {
					console.log('Failed to save object: ' + error.message);
				}
			});
		},
		error: function(error) {
			console.log("cannot find user");
		}
	});
		//var origin = $(location).attr('pathname');
		
		var n = url.lastIndexOf("/");
		var imageID = url.substring(n+1);

		var imageQuery = new Parse.Query(Parse.Object.extend("Image"));
		imageQuery.include("imageMetadata");
		imageQuery.get(imageID, 
		{
			success: function(image) {
				var imageMetadata = image.get("imageMetadata");
				console.log("likes: " + imageMetadata.get("likes"));
				image.set("likes", image.get("likes")+1);
				image.save(null, 
				{
					success: function(savedUserObject) {
						console.log("image like count addition successful");
						imageMetadata.set("likes", imageMetadata.get("likes")+1);
						imageMetadata.save(null, 
							{
								success: function(savedUserObject) {
									console.log("image like count addition successful");

								},
								error: function(object, error) {
									console.log('Failed to save object: ' + error.message);
								}
							});
					},
					error: function(object, error) {
						console.log('Failed to save object: ' + error.message);
					}
				});
			},
			error: function(error) {
				console.log("cannot find image");
				console.log("error: " + error);
			}
		});
	}

	var page_unlike_callback = function(url, html_element) {
		var userId = Parse.User.current().id;

		var query = new Parse.Query(Parse.User);
		query.get(userId, {
			success: function(user) {
				user.set("likes", user.get("likes")-1);
				user.set("points", user.get("points")-2);
				user.save(null, {
					success: function(savedUserObject) {
						console.log("facebook unlike successful");

					},
					error: function(object, error) {
						console.log('Failed to save object: ' + error.message);
					}
				});
			},
			error: function(error) {
				console.log("cannot find user");
			}
		});
		//var origin = $(location).attr('pathname');
		
		var n = url.lastIndexOf("/");
		var imageID = url.substring(n+1);

		var imageQuery = new Parse.Query(Parse.Object.extend("Image"));
		imageQuery.include("imageMetadata");
		imageQuery.get(imageID, 
		{
			success: function(image) {
				var imageMetadata = image.get("imageMetadata");
				console.log("likes: " + imageMetadata.get("likes"));
				image.set("likes", image.get("likes")-1);
				image.save(null, 
				{
					success: function(savedUserObject) {
						console.log("image like count deduction successful");
						imageMetadata.set("likes", imageMetadata.get("likes")-1);
						imageMetadata.save(null, 
							{
								success: function(savedUserObject) {
									console.log("image like count deduction successful");

								},
								error: function(object, error) {
									console.log('Failed to save object: ' + error.message);
								}
							});
					},
					error: function(object, error) {
						console.log('Failed to save object: ' + error.message);
					}
				});
			},
			error: function(error) {
				console.log("cannot find image");
				console.log("error: " + error);
			}
		});
	}

	// In your onload handler
	FB.Event.subscribe('edge.create', page_like_callback);
	FB.Event.subscribe('edge.remove', page_unlike_callback);
	</script>
